# Composer dependencies
/vendor/

# Node dependencies
node_modules/

# Build artifacts
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE/project files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Environment/config
.env
.env.*

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Developer documentation
DEVELOPER.md 

# Ignore development JS source
src/assets/src/scrolltop.js